@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
.App {
  margin-top: 60px;
  text-align: center;
  background-color: black;
  color: white;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
} 

nav ul li{
  float: left;
}

li a{
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: rgb(97, 218, 251);
  color: #333;
}


.App-logo {
  /* width: 40vmin;
  height: 30vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serifs;
  
}

.flex{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.btn {
  background-color: black;
    color: white;
    /* height: 100%;
    width: 100%; */
    -webkit-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
    -moz-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
    box-shadow: 0px 0px 45px 21px rgba(255, 46, 192, 0.9);
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 14px 30px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

.image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
    -moz-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
    box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  border: 2px solid white;
  border-radius: 20px;
}

.shadowBox{
  margin: 0 auto;
  /* box-shadow: 0px 9px 30px 0px rgba(255, 149, 5, 0.3); */
  width: 20%;
  height: 20%;
  border-radius: 20px;
  margin-bottom: 4%;
}
.shadowBox:hover{
  height: 100%;
  width: 100%;
}

.width{
  word-wrap: break-word;
  margin: 0 auto;
  width: 50%;
}

.margin-bottom{
  margin-bottom: 4%;
}

textarea{
  font-size: 20px;
  background-color: black;
  color: white;
  height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
    -moz-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
    box-shadow: 0px 0px 45px 21px rgba(255, 46, 192, 0.9);
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
  }

  ::placeholder{
    color: white;
    font-size: 20px;
  }

.text-color {
  font-size: 1.5rem;
  color: white;
}

.heading {
  font-family: 'Tilt Prism', cursive;
  font-size: 60px;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 10px;
}

.grid-child {
  border: 4px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.grid-child:hover {
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3{
  font-weight: 900;
}

.grid-child p {
  font-weight: 500;
  font-size: 15px;
}

.text-area {
  background-color: #333;
  font-size: 20px;
  box-shadow: none;
  border: 4px solid whitesmoke;
  padding: 20px;
  margin: 10px;
  width: 80%;
}

.action-btn {
  background-color: #333;
  color: whitesmoke;
  font-family: tilt prism;
  font-size: 30px;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: 4px solid whitesmoke;
}

.action-btn:hover{
  background-color: black;
}