@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

.App {
  margin-top: 80px;
  text-align: center;
  background-color: black;
  color: white;
}

/* ! navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.head {
  margin: 24px 10px;
}
nav{
  background-color: #333;
}

nav ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav ul li {
  float: left;
  display: block;
}

li a {
  display: block;
  font-size: 20px;
  padding: 26px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: rgb(97, 218, 251);
  color: #333;
}

.open-btn {
  margin-top: 2px;
  padding: 11px;
  background-color: #333;
  color: white;
  font-size: 20px;
  border: 0;
}

.open-btn:hover {
  background-color: rgb(97, 218, 251);
  color: #333;
}

.float-right {
  float: right;
  display: block;
  padding: 16px 16px;
  text-align: center;
  color: white;
}

/* !Contact me Modal in Navbar */

.modal {
  position: fixed;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 17, 17, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 1000px;
  background-color: #333;
  border-radius: 20px;
  width: 75%;
}

.modal-header,
.modal-footer {
  padding: 10px;
  margin: 10px;
}

.modal-title {
  margin: 0;
  color: white;
  font-size: 30px;
}

.modal-body {
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.modal-btn {
  font-size: 20px;
  margin-top: 10px;
  width: 60%;
  background-color: #9a120d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: #c81711;
}



.App-logo {
  z-index: -1;
  position: relative;
  width: 40vmin;
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serifs;

}

.flex {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.btn {
  background-color: black;
  color: white;
  /* height: 100%;
    width: 100%; */
  -webkit-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  -moz-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  box-shadow: 0px 0px 45px 21px rgba(255, 46, 192, 0.9);
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 14px 30px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.image {
  height: 30%;
  width: 30%;
  -webkit-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  -moz-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  border: 2px solid white;
  border-radius: 20px;
}

.image:hover {
  height: 100%;
  width: 100%;
}

.shadowBox {
  margin: 0 auto;
  /* box-shadow: 0px 9px 30px 0px rgba(255, 149, 5, 0.3); */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 4%;
}

.width {
  word-wrap: break-word;
  margin: 0 auto;
  width: 50%;
}

.margin-bottom {
  margin-bottom: 4%;
}


.textarea {
  font-size: 20px;
  background-color: black;
  color: white;
  height: 100%;
  width: 43%;
  -webkit-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  -moz-box-shadow: 0px 0px 56px 21px rgba(255, 46, 192, 0.9);
  box-shadow: 0px 0px 45px 21px rgba(255, 46, 192, 0.9);
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
}

::placeholder {
  color: white;
  font-size: 20px;
}

.text-color {
  font-size: 1.5rem;
  color: white;
}

.heading {
  margin-top: 5%;
  font-family: 'Tilt Prism', cursive;
  font-size: 60px;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 2rem;
  padding: 2rem;
}


.grid-child {
  border: 4px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.grid-child:hover {
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3 {
  font-weight: 900;
}

.grid-child p {
  font-weight: 500;
  font-size: 15px;
}

.text-area {
  max-width: 1000px;
  background-color: #333;
  color: whitesmoke;
  font-size: 20px;
  box-shadow: none;
  border: 4px solid whitesmoke;
  padding: 20px;
  margin-top: 4%;
  width: 80%;
}

.action-btn {
  background-color: #333;
  color: whitesmoke;
  font-family: tilt prism;
  font-size: 30px;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: 4px solid whitesmoke;
}

.action-btn:hover {
  background-color: black;
}


/* ! Contact me form */

input[type=text],
input[type=email],
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

form label {
  font-size: 1.5rem;
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white
}

input[type=submit] {
  font-size: 20px;
  margin-top: 15px;
  width: 80%;
  background-color: #220d9a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {

  background-color: #2520bc;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#from_name::placeholder{
  color: #212121;
}

#message::placeholder{
  color: #212121;
}

#reply_to::placeholder{
  color: #212121;
}